body {
    background-color: #FBF8E9;
    font-family: Montserrat;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
}

#content {
    margin: 0 auto;
    width: 85%;
    height: auto;
    position: relative;
    background-color: #FFFFF9;
}

#container {
    margin-top: 15px;
}

#content h1,
#content h2 {
    font-family: Montserrat;
    margin: 5px 0px 2.5px 0px;
}

#content h2 {
    font-weight: 500;
}