body {
    background-color: #FFFFF9;
    font-family: Montserrat;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
}

#content {
    margin: 0 auto;
    width: 85%;
    height: auto;
    position: relative;
    background-color: #FFFFF9;
}

#container {
    margin-top: 15px;
    border: 1px solid #d0d2ce;
    border-radius: 10px;
    height: 45vw;
}

#content h1,
#content h2 {
    font-family: Montserrat;
    margin: 5px 0px 2.5px 0px;
}

#content h2 {
    font-weight: 400;
}

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 12pt;
}

p {
    font-size: 12pt;
}


input[type=checkbox] {
    transform: scale(1.3);
}

.checkbox-container {
    margin: 10px 0px 0px 0px;
}

.container {
    font-size: 12pt;
    margin:  0px 10px 0px 0px;
    white-space: nowrap;
}

#metro-fringe {
    accent-color: #259299;
}

#open-lands {
    accent-color: #BA578C;
}

#small-towns {
    accent-color: #3F8EE6;
}

#metro-counties {
    accent-color: #d0d2ce;
}

#native-lands {
    accent-color: #FEECBB;
}

.footnote {
    color: #8e8e8e;
    font-size: 8.5pt;
}

.tagline {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    text-align: right;
    font-size: 10.5pt;
}